<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 1、mybatis使用properties来引入外部properties配置文件的内容
             resource 引入类路径下资源
             url 引入网络路径或磁盘路径下资源 -->
    <properties resource="dbconfig.properties"></properties>
    <!-- 2、settings包含很多重要的设置项
            setting标识具体的设置项
                 name表示设置项的名字
                 value表示设置项的值 
     -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    
   <typeAliases>
  	   <package name="com.sf.bean"/>
  </typeAliases>
  
    <plugins>
    	<plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>
</configuration>